@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .wiggle{
  animation: wiggle 3s ease-in-out infinite;
}


@keyframes wiggle{
  0%,100%{
    transform: rotate(-3deg);
  }
  50%{
  transform: rotate(3deg);
  }
} */

.apple { 
  position: relative; 
} 

.apple::after { 
  content: "Apple Icon"; 
  opacity: 0; 
  background-color: gray; 
  color: white; 
  font-size: 10px; 
  position: absolute; 
  top: 2.5rem; 
  right: 0; 
  width: max-content;    
  transition: all 2s ease-in-out; 
} 

.apple:hover::after { 
  opacity: 1; 
}

